<p>query works!</p>
<div>
  library service data next: <input type="text" [(ngModel)]="inputData" (input)="nextData()">
</div>
<br>
<div>
  evenet bus post data:  <input type="text" [(ngModel)]="eventBusData" (input)="eventBusPostData()">
</div>

<br>
<br>
<br>

<div (click)="redirectBase()">redirect base</div>
